body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(./background/unib.gif);
    background-size: cover;
    font-family: monospace;
    box-sizing: border-box;
}

.main-screen-player {
    position: absolute;
    top: 15vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
    border-radius: 14%;
    overflow: hidden;
    background: transparent;
}

.pressed-mouse{
    /* transform: translateY(0px); */
}

.auto-scroll{
    animation: rotate 50s linear infinite;
}

.slider{
    position: relative;
    height: 150px;
    width: 200px;
    transform-style: preserve-3d;
}

@keyframes rotate {
    0%{
        transform: perspective(3000px) rotateY(360deg);
    }
    100%{
        transform: perspective(3000px) rotateY(0deg);
    }
    
}

.slider span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateY(200px) rotateY(calc(var(--i)*40deg)) translateZ(400px);
}

.slider span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14%;
    overflow: hidden;
    object-fit: cover;
    transition: 2s;
}

.text-circle {
    transform-style: preserve-3d;
    animation: rotateText 11s linear infinite;
}

@keyframes rotateText {
    0%{
        transform: perspective(4000px) rotateY(360deg) rotateX(5deg);
    }
    50%{
        transform: perspective(2000px) rotateY(180deg) rotateX(15deg);
    }
    100%{
        transform: perspective(4000px) rotateY(0deg) rotateX(5deg);
    }
}

.text-circle .char {
    position: absolute;
    min-height: 40px;
    top: 0;
    left: 0;
    background: blanchedalmond;
    color:blueviolet;
    font-size: 40px;
    padding: 15px 15px;
    border-top: 4px solid blueviolet;
    border-bottom: 4px solid blueviolet;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(calc(var(--t)*12deg)) translateZ(250px);
    text-shadow: 400px 300px 0 rgba(255, 235, 205, 0.5),
    600px 150px 0 rgba(255, 235, 205, 0.5),
    1000px 0 0 rgba(255, 235, 205, 0.5),
    600px -150px 0 rgba(255, 235, 205, 0.5),
    400px -300px 0 rgba(255, 235, 205, 0.5);
}

.text-circle .hidd {
    color:blanchedalmond;
}